<div *ngIf="isDataLoaded" class="flex flex-col items-center gap-4">

  <div class="bg-base-200 p-4 w-full lg:w-1/2 mx-auto grid gap-4">
    <div class="flex justify-center gap-4">
      <p class="font-bold">Nome: </p>
      <p>{{ data.Name }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Marca: </p>
      <p>{{ data.Brand }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Data: </p>
      <p>{{ data.Date }}</p>
    </div>
    <div class="flex justify-center gap-4">
      <p class="font-bold">Status: </p>
      <p>{{ data.Status ? 'Comprado' : 'Precisa comprar' }}</p>
    </div>
  </div>
  <button class="btn btn-primary" (click)="back()">Voltar</button>
</div>
