body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
    background-color: #30475E;
    text-align: center;
    font-size: large;
  }
