<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content flex flex-col">

    <div class="w-full navbar bg-primary text-white">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </label>
      </div>
      <a routerLink="">
        <div class="flex-1 px-2 mx-2 text-xl font-bold">SHOPPING LIST</div>
      </a>
      <div class="flex-none hidden lg:block">
        <ul class="menu menu-horizontal">
          <li><a routerLink="">Lista de compras</a></li>
          <li><a routerLink="purchased">Comprados</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 h-full bg-base-200">
      <li><a routerLink="">Desejos</a></li>
      <li><a routerLink="purchased">Comprados</a></li>
    </ul>
  </div>
</div>
