<div>
    <h1 class="text-lg font-bold uppercase text-center">Comprados</h1>
    <div class="flex justify-between flex-col sm:flex-row">
        <input
                type="text"
                class="input input-bordered"
                placeholder="Pesquisar"
                [(ngModel)]="search"
                (input)="onSearchChange()"
        >
    </div>
    <app-spinner *ngIf="loading"/>
    <app-purchased-table
            *ngIf="!loading"
            [items]="data"
            (show)="showItem($event)"
            (delete)="deleteItem($event)"
    />
</div>
