<div class="flex flex-col overflow-hidden my-2">
  <div *ngIf="products.length === 0" class="flex justify-center">
    <span class="pt-8 text-xl text-gray-600 font-semibold capitalize">
      Nenhum item encontrado
    </span>
  </div>
  <div *ngIf="products.length > 0" class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class=" inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden rounded shadow">
        <table class="min-w-full text-center lg:shadow">
          <thead class="border-b hidden lg:table-header-group">
            <tr class="bg-secondary">
              <th class="text-sm p-2.5 whitespace-nowrap capitalize">
                Item
              </th>
              <th class="text-sm p-2.5 whitespace-nowrap capitalize">
                Marca
              </th>
              <th class="text-sm p-2.5 whitespace-nowrap capitalize">
                Quantidade
              </th>
              <th class="text-sm p-2.5 whitespace-nowrap capitalize">
                Ações
              </th>
              <th class="text-sm p-2.5 whitespace-nowrap capitalize">
                Data
              </th>
            </tr>
          </thead>
          <tbody class="grid grid-cols-1 md:grid-cols-2 md:gap-5 lg:table-row-group">
            <tr *ngFor="let product of products; let i = index"
                class="bg-base-200 lg:bg-white border border-b-0 shadow-md lg:shadow-none block lg:border-b lg:border-0 lg:table-row mb-5 lg:mb-0">
              <td
                class="text-xs font-semibold text-gray-600 p-4 whitespace-normal lg:whitespace-nowrap flex justify-between items-center gap-1 text-right lg:text-center lg:table-cell border-b lg:border-b-0 box-content h-5"
              >
                <span class="inline-block lg:hidden font-bold">Nome</span>
                <div class="break-all lg:break-normal">
                  {{ product.Name | titlecase }}
                </div>
              </td>
              <td
                class="text-xs font-semibold text-gray-600 p-4 whitespace-normal lg:whitespace-nowrap flex justify-between items-center gap-1 text-right lg:text-center lg:table-cell border-b lg:border-b-0 box-content h-5"
              >
                <span class="inline-block lg:hidden font-bold">Marca</span>
                <div class="break-all lg:break-normal">
                  {{ product.Brand }}
                </div>
              </td>
              <td
                class="text-xs font-semibold text-gray-600 p-4 whitespace-normal lg:whitespace-nowrap flex justify-between items-center gap-1 text-right lg:text-center lg:table-cell border-b lg:border-b-0 box-content h-5"
              >
                <span class="inline-block lg:hidden font-bold">Quantidade</span>
                <div class="break-all lg:break-normal">
                  {{ product.Amount | uppercase}}
                </div>
              </td>
              <td
                class="text-xs font-semibold text-gray-600 p-4 whitespace-normal lg:whitespace-nowrap flex justify-between items-center gap-1 text-right lg:text-center lg:table-cell border-b lg:border-b-0 box-content h-5"
              >
                <span class="inline-block lg:hidden font-bold">Ações</span>
                <div>
                  <div class="material-icons cursor-pointer text-info" title="Visualizar" (click)="show.emit(product.id)">
                    info
                  </div>
                  <div class="material-icons cursor-pointer text-warning" title="Editar" (click)="edit.emit(product.id)">
                    edit
                  </div>
                  <label class="material-icons cursor-pointer text-success" title="Marcar como comprado"
                         [for]="'check' + product.id">
                    done
                  </label>
                  <label class="material-icons cursor-pointer text-error" title="Remover"
                         [for]="'delete' + product.id">
                    delete
                  </label>
                </div>
              </td>
              <td
                class="text-xs font-semibold text-gray-600 p-4 whitespace-normal lg:whitespace-nowrap flex justify-between items-center gap-1 text-right lg:text-center lg:table-cell border-b lg:border-b-0 box-content h-5"
              >
                <span class="inline-block lg:hidden font-bold">data prcisa comprar</span>
                <div class="break-all lg:break-normal">
                  {{ product.Date }}
                </div>
              </td>
              <input type="checkbox" [id]="'check' + product.id" class="modal-toggle"/>
              <div class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">Marcar como comprado</h3>
                  <p class="py-4">Você não poderá desfazer isso</p>
                  <div class="modal-action flex justify-between">
                    <label [for]="'check' + product.id" class="btn">Cancelar</label>
                    <label [for]="'check' + product.id" class="btn btn-primary" (click)="check.emit(product.id)">Confirmar</label>
                  </div>
                </div>
              </div>

              <input type="checkbox" [id]="'delete' + product.id" class="modal-toggle"/>
              <div class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">Apagar registro</h3>
                  <p class="py-4">Você não poderá desfazer isso</p>
                  <div class="modal-action flex justify-between">
                    <label [for]="'delete' + product.id" class="btn">Cancelar</label>
                    <label [for]="'delete' + product.id" class="btn btn-error" (click)="delete.emit(product.id)">Remover</label>
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
